.vscode/

*.exe

*.txt

*.out

#ignore test files
test.cpp

#ignore not accepted files. wrong answer
*.WA.cpp
*.wa.cpp

#ignore not accepted files. TLE
*.TLE.cpp
*.tle.cpp

template.cpp


#ignore files and directorys starting with '__'
__*
